<form (ngSubmit)="onRegister()">
  <div>
    <label for="firstName">Nome:</label>
    <input id="firstName" [(ngModel)]="firstName" name="firstName" required />
  </div>
  <div>
    <label for="lastName">Cognome:</label>
    <input id="lastName" [(ngModel)]="lastName" name="lastName" required />
  </div>
  <div>
    <label for="username">Username:</label>
    <input id="username" [(ngModel)]="username" name="username" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      id="password"
      [(ngModel)]="password"
      name="password"
      type="password"
      required
    />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="email" name="email" required />
  </div>
  <div>
    <label for="age">Età:</label>
    <input id="age" [(ngModel)]="age" name="age" type="number" required />
  </div>
  <div>
    <label for="gender">Genere:</label>
    <select id="gender" [(ngModel)]="gender" name="gender">
      <option value="male">Maschio</option>
      <option value="female">Femmina</option>
    </select>
  </div>
  <button type="submit">Registrati</button>
  <p>Hai già un account? <a [routerLink]="'/auth/login'">Accedi</a></p>
</form>
