/* Wrapper per la tabella */
.table-wrapper {
  display: flex;
  position: relative;
  border: 1px solid #ddd;
}

/* Parte scrollabile */
.table-scrollable {
  overflow-x: auto;
  flex-grow: 1;
}

.table-scrollable table {
  width: 100%;
  min-width: 1080px; /* Minima larghezza per il contenuto */
}

/* Colonna delle azioni fissa */
.table-actions {
  position: sticky;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #ddd;
  z-index: 10;
}

.table-actions table {
  width: auto;
  border-collapse: collapse;
}

/* Header e celle */
th.mat-header-cell,
td.mat-cell {
  padding: 8px;
  text-align: center;
}

.horizontal-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.action-button {
  background-color: #14424c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.action-button:hover {
  background-color: #0f363f;
}
