.table-wrapper {
  display: flex;
  position: relative;
  border: 1px solid #ddd;
}

.table-scrollable {
  overflow-x: auto;
  flex-grow: 1;
}

.table-scrollable table {
  width: 100%;
  min-width: 1080px;
}

.table-actions {
  position: sticky;
  right: 0;
  background-color: #fff;
  border-left: 1px solid #ddd;
  z-index: 10;
}

.table-actions table {
  width: auto;
  border-collapse: collapse;
}

th.mat-header-cell,
td.mat-cell {
  padding: 8px;
  text-align: center;
}

.horizontal-actions {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
}

.action-button {
  background-color: #14424c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.action-button:hover {
  background-color: #0f363f;
}

.mat-chip-set {
  display: flex;
  flex-wrap: nowrap;
}

.mat-chip {
  margin-right: 5px;
  white-space: nowrap;
}

.mat-cell.description {
  max-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-product-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-bottom: 8px;
  margin-right: 8px;
}
