<div class="container">
  <h2>Lista dei Prodotti</h2>
  <div class="add-product-button">
    <button mat-raised-button color="primary" (click)="createProduct()">
      Aggiungi Prodotto
    </button>
  </div>
  <div class="table-wrapper">
    <!-- Scrollable Table -->
    <div class="table-scrollable">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Prodotto</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <!-- AvailabilityStatus Column -->
        <ng-container matColumnDef="availabilityStatus">
          <th mat-header-cell *matHeaderCellDef>Disponibilità</th>
          <td mat-cell *matCellDef="let element">
            <app-available-chip
              [availability]="element.availabilityStatus"
            ></app-available-chip>
          </td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Brand</th>
          <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Voto</th>
          <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-set aria-label="Tags">
              <mat-chip *ngFor="let tag of element.tags">{{ tag }}</mat-chip>
            </mat-chip-set>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsWithoutActions"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsWithoutActions"
        ></tr>
      </table>
    </div>

    <!-- Sticky Actions Column -->
    <div class="table-actions">
      <table mat-table [dataSource]="dataSource">
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="actions-column">
            Prezzo
          </th>
          <td mat-cell *matCellDef="let element" class="actions-column">
            {{ element.price }}
          </td>
          <!-- Actions Column -->
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="actions-column">
            Azioni
          </th>
          <td mat-cell *matCellDef="let element" class="actions-column">
            <div class="horizontal-actions">
              <button class="action-button" (click)="openProduct(element)">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Modifica"
                  fontIcon="open_in_new"
                ></mat-icon>
              </button>
              <button class="action-button" (click)="deleteProduct(element)">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Elimina"
                  fontIcon="delete"
                ></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="['price', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['price', 'actions']"></tr>
      </table>
    </div>
  </div>
</div>
