/* Navbar orizzontale e fissa */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  margin-top: 64px; /* Altezza del mat-toolbar */
}
