<div class="modal-header">
  <h2 mat-dialog-title>Dettaglio del Prodotto</h2>
  <button
    mat-icon-button
    (click)="close()"
    class="close-button"
    aria-label="Chiudi"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="modal-content">
  <div class="product-details">
    <div class="product-name">
      <mat-form-field appearance="fill" class="full-width" style="width: 96%">
        <mat-label>Nome Prodotto</mat-label>
        <input matInput [(ngModel)]="product.title" [disabled]="!isEditable" />
      </mat-form-field>
    </div>

    <div class="grid-container">
      <mat-form-field appearance="fill">
        <mat-label>Prezzo</mat-label>
        <input
          matInput
          [(ngModel)]="product.price"
          [disabled]="!isEditable"
          type="number"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Disponibilità</mat-label>
        <mat-select
          [(ngModel)]="product.availabilityStatus"
          [disabled]="!isEditable"
        >
          <mat-option
            *ngFor="let status of availabilityStatuses"
            [value]="status"
          >
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <input
          matInput
          [(ngModel)]="product.category"
          [disabled]="!isEditable"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="product.brand" [disabled]="!isEditable" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <input matInput [(ngModel)]="product.rating" [disabled]="!isEditable" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <input
          matInput
          [(ngModel)]="product.tags"
          [disabled]="!isEditable"
          placeholder="Aggiungi un tag"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Pulsante Edit -->
  <button
    mat-raised-button
    color="primary"
    (click)="toggleEdit()"
    class="edit-button"
  >
    {{ isEditable ? "Salva" : "Modifica" }}
  </button>
</mat-dialog-content>
